<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chetmani.verchsva">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo_finaaaaal"
        android:label="Chetmani"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_finaaaaal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.chetmani.verchsva.FullImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.chetmani.verchsva.Homepage"
            android:label="@string/title_activity_homepage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.chetmani.verchsva.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chetmani.verchsva.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <service android:name="com.chetmani.verchsva.services.MyFirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>