<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.splashscreenwithlogin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cmj_logo"
        android:label="Chetmani Jewellers"
        android:roundIcon="@drawable/cmj_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Homepage"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>